<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/modules.css" />
    <title>Book App</title>
  </head>
  <body>
    <header>
      <h1>All About Books!</h1>
      <nav>
        <h3><a href="/">Home</a></h3>
        <h3><a href="/searches/new">Search for Books</a></h3>
      </nav>
    </header>
    <main>
      <form action="/searches" method="POST">
        <fieldset>
          <label><h2>Search by Title or Author</h2></label>
          <input
            class="user-input"
            name="bookSearch"
            type="text"
            placeholder="Enter the name of the author or the Title of a book"/>
          <div class="radio">
            Title<input type="radio" name="search" value="title"/>
          </div>
          <div class="radio">
            Author<input type="radio" name="search" value="author"/>
          </div>
          <input class="button" type="submit"/>
        </fieldset>
      </form>
    </main>
  </body>
</html>
